data/**
!data/.gitkeep

data/art/**
!data/art/.gitkeep


**/__pycache__
.env
.claude

# ML artifacts
models/
predictions.csv
data/bisexual_lighting/

# venv
.venv/

# Label Studio auth token
.ls_session

# Data export
export.json

error.txt